@{
    Layout = "~/Views/Shared/Layout/DashboardLayout.cshtml";
    ViewData["Title"] = "Resource Placemant";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aspek Penilaian</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
        <li class="breadcrumb-item">Aspek Penilaian</li>
    </ol>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="alert alert-light w-100" role="alert">
            <h6><i class="fas fa-bullhorn"></i><b> Informasi...!!!</b></h6>
            Mohon Perhatikan Aspek Penilaian dalam memasukan Nilai.
        </div>
    </div>
</div>


<div class="row mb-3" id="card-content">
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Keaktifan</div>
                        <div class="mb-0 mr-3 font-weight-bold text-gray-800">Seberapa sering Canddate berinteraksi dengan sekitar - 25%</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comment fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Pemahaman Konsep</div>
                        <div class="mb-0 mr-3 font-weight-bold text-gray-800">Kecepatan Pemahaman Konsep dasar yang diberikan Trainer - 25%</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-lightbulb fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3" id="card-content">
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Project</div>
                        <div class="mb-0 mr-3 font-weight-bold text-gray-800">Pembuatan Project sesuai dengan kebutuhan dan tugas yang diberikan - 25%</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Evaluasi Masalah</div>
                        <div class="mb-0 mr-3 font-weight-bold text-gray-800">Bagaimana pegawai memecahkan suatu masalah dengan clue yang diberikan - 25%</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-question fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="alert alert-warning w-100" role="alert">
            <h6><i class="fas fa-warning"></i><b> Warning...!!!</b></h6>
             Nilai Hanya Bisa dimasukan satu kali guna menjaga Integritas Data. 
        </div>
    </div>
</div>
