
@{
	Layout = "~/Views/Shared/Layout/CandidateLayout.cshtml";
	ViewData["Title"] = "Resource Placemant - Admin";
}


<!-- Breadcrumb-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Welcome, Candidate</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="./">Home</a></li>
		@*<li class="breadcrumb-item">Pages</li>*@
		<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
	</ol>
</div>

<!--Content-->
<div class="row mb-3">
	<div class="col">
		<div class="alert alert-light w-100" role="alert">
			<h6><i class="fas fa-bullhorn"></i><b> Informasi...!!!</b></h6>
			Untuk para candidate harap selalu cek email, karena setiap pemberitahuan akan dikirim via email.
		</div>
	</div>
</div>

<div class="row mb-3" id="card-content">
	<div class="col-xl-12 col-md-12 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-uppercase mb-1">No Offering</div>
						<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Belum Ada Offering Dari Manager</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar-check fa-2x text-info"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<!-- Invoice Example -->
	<div class="col-xl-12 col-lg-12 mb-4">
		<div class="card">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Interview History</h6>
				<a class="m-0 float-right btn btn-danger btn-sm" href="#">View More &nbsp;<i class="fas fa-chevron-right"></i></a>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Project</th>
							<th>Jadwal Interview</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a>1</a></td>
							<td>Udin Wayang</td>
							<td>Nasi Padang</td>
							<td><span class="badge badge-success">Accepted</span></td>
							<td>
								<a href="#" class="btn btn-sm btn-info">
									<i class="fas fa-info-circle"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><a>2</a></td>
							<td>Jaenab Bajigur</td>
							<td>Gundam 90' Edition</td>
							<td><span class="badge badge-danger">Rejected</span></td>
							<td>
								<a href="#" class="btn btn-sm btn-info">
									<i class="fas fa-info-circle"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><a>3</a></td>
							<td>Rivat Mahesa</td>
							<td>Oblong T-Shirt</td>
							<td><span class="badge badge-danger">Rejected</span></td>
							<td>
								<a href="#" class="btn btn-sm btn-info">
									<i class="fas fa-info-circle"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</div>



@section Script{
	<script type="text/javascript" src="~/js/candidate.js"></script>
}