@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

.navbar-brand {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7) !important;
}